<!-- Main modal -->
<div
  id="modal-model"
  tabindex="-1"
  aria-hidden="true"
  class="hidden bg-gray-700 bg-opacity-30 dark:bg-gray-50 dark:bg-opacity-30 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-full max-h-full">
    <!-- Modal content -->
    <div
      id="modal-img"
      class="modal-content relative bg-white border border-gray-300 rounded-lg shadow dark:border-gray-900 dark:bg-gray-700"
    >
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3
          class="w-full text-center text-xl font-semibold text-gray-900 dark:text-white"
        >
          MODEL İKA
        </h3>
        <button
          id="btnModelKapat"
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="modal-model"
        >
          <i class="fa-solid fa-xmark"></i>
          <span class="sr-only">Modal kapat</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="flex flex-col p-4 md:p-5 space-y-4">
        <div id="model-1" class="flex justify-center w-full">
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Özerk Yapı 1.1
          </a>

          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Özerk Yapı 1.2
          </a>

          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Özerk Yapı 1.3
          </a>
        </div>
        <div id="model-2" class="flex justify-center w-full">
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Kontrol Sis. 2.1
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Kontrol Sis. 2.2
          </a>
          <a
            class="w-[150px]inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Kontrol Sis. 2.3
          </a>
        </div>
        <div id="model-3" class="flex justify-center w-full">
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Faydalı Yük 3.1
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Faydalı Yük 3.2
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Faydalı Yük 3.3
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Faydalı Yük 3.4
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Faydalı Yük 3.5
          </a>
        </div>
        <div id="model-4" class="flex justify-center w-full">
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.1
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.2
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.3
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.4
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.5
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.6
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.7
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.8
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.9
          </a>
          <a
            class="w-[150px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Motor 4.10
          </a>
        </div>
        <div id="model-5" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Yönlendirme Sis. 5.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Yönlendirme Sis. 5.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Yönlendirme Sis. 5.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Yönlendirme Sis. 5.4
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Yönlendirme Sis. 5.5
          </a>
        </div>

        <div id="model-6" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Süspansiyon Sis. 6.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Süspansiyon Sis. 6.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Süspansiyon Sis. 6.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Süspansiyon Sis. 6.4
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Süspansiyon Sis. 6.5
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Süspansiyon Sis. 6.6
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Süspansiyon Sis. 6.7
          </a>
        </div>
        <div id="model-7" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Gövde Malzemesi 7.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Gövde Malzemesi 7.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Gövde Malzemesi 7.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Gövde Malzemesi 7.4
          </a>
        </div>
        <div id="model-8" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Enerji Sis. 8.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Enerji Sis. 8.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Enerji Sis. 8.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Enerji Sis. 8.4
          </a>
        </div>
        <div id="model-9" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Güç Aktarma Sis. 9.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Güç Aktarma Sis. 9.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Güç Aktarma Sis. 9.3
          </a>
        </div>
        <div id="model-10" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Fren Sis. 10.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Fren Sis. 10.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Fren Sis. 10.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Fren Sis. 10.4
          </a>
        </div>
        <div id="model-11" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Isı Yönetim Sis. 11.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Isı Yönetim Sis. 11.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Isı Yönetim Sis. 11.3
          </a>
        </div>
        <div id="model-12" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Elektrik Sis. 12.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Elektrik Sis. 12.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Elektrik Sis. 12.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Elektrik Sis. 12.4
          </a>
        </div>

        <div id="model-13" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Elektronik Ünit. 13.1
          </a>
        </div>
        <div id="model-14" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            İntikal Konf. 14.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            İntikal Konf. 14.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            İntikal Konf. 14.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            İntikal Konf. 14.4
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            İntikal Konf. 14.5
          </a>
        </div>
        <div id="model-15" class="flex justify-center w-full">
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Şasi 15.1
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Şasi 15.2
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Şasi 15.3
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Şasi 15.4
          </a>
          <a
            class="w-[200px] inline-flex items-center justify-center px-5 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-slate-400"
          >
            Şasi 15.5
          </a>
        </div>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="modal-model"
          type="button"
          id="btnTest"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Tamam
        </button>
      </div>
    </div>
  </div>
</div>
